#Systemd service file for moonraker

[Unit]
Description=Starts Moonraker on startup
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pi
RemainAfterExit=yes
ExecStart=/usr/bin/python /opt/moonraker/moonraker/moonraker.py -c /opt/moonraker/moonraker.conf -l /tmp/moonraker.log
Restart=always
RestartSec=10